.autoCompleteInput {
	width: 90%;
}


.autoCompleteInput input {
	/* max-width: 736px; */
  /* text-align: center; */
	width: 100%;
	height: 38px;
	font-size: 16px;
	margin: 0.2em 0em 0 0.2em;
	outline: none;
	border: none;
}

.autoComplete {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0.5em;
	border: 1px solid #dfe1e5;
	background: white;
	border-radius: 20px;
	box-shadow: -1px 2px 4px 0px #dfe1e5;
	width: 90%;
	max-width: 700px;
	z-index: 10;
}
.autoComplete:hover {
	box-shadow: -1px 2px 9px 0px #9aa0ab;
}
.autoComplete ul {
	list-style: none;
	background: white;
	border: 1px solid #dfe1e5;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	max-height: 300px;
	width: 100%;
	margin-top: 0px;
	overflow-y: auto;
	/* padding: 2em 0; */
	/* z-index:-1; */
}
.autoComplete ul::-webkit-scrollbar {
	width: 15px;
}
.autoComplete ul::-webkit-scrollbar-track {
	border-radius: 1em;
	background: #cccccc;
}

/* Handle */
.autoComplete ul::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
.autoComplete ul::-webkit-scrollbar-thumb:hover {
	background: rgb(146, 145, 145);
}

.autoComplete li {
	height: 34px;
	/* background: white; */
	padding: 0.5em 2em;
	cursor: pointer;
}

.autoComplete li:hover {
	background-color: #dfe1e5;
}
