.navbar{
    position: absolute;
    top:0;
    right: 0;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3em 0.5em;
    /* margin-bottom: auto; */
}
.navbar p:nth-child(n){
    margin: 0.5em;
}
.navbar p:nth-child(3){
    height: 30px;
    width: 30px;
    border-radius:50%;
    background: rgb(202, 201, 201);
}